extends layouts/login_layout.pug
block content
  .container
    .brand-logo
    .brand-title TWITTER
    .inputs
      form.login-form(action='' method='POST' enctype='multiple/form-data')
        label EMAIL
        input#userName.form-control(type="text", name="logUserName" , placeholder="Username or email" , required="" , value=logUserName)
        label PASSWORD
        input#password.form-control(type="password", name="logpassword" , placeholder="Enter your password" , required="")
        label PASSWORD
        input#password.form-control(type="password", name="logpassword" , placeholder="Enter your password" , required="")
        label PASSWORD
        input#password.form-control(type="password", name="logpassword" , placeholder="Enter your password" , required="")
        button(type='submit' name='' value='register') register
          a(href="/login") Have an account ?